
<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>

    <div class="wrapper">


        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">champness.org</li><li><a class="u-email" href="mailto:hello@champness.org">hello@champness.org</a></li></ul>
            </div>

            <div class="footer-col footer-col-2"><ul class="social-media-list"></ul>
            </div>

            <div class="footer-col footer-col-3">
                <p>I practice agile methods; emergent design and evolutionary architecture; test-first TDD; loose coupling; inversion of control and dependency injection; and code kata.</p>
            </div>
        </div>

    </div>

</footer>